# Any temporary data (IQ tree files, seq-gen files, ...)
pipelines/temp_data/*

# Mac files
.DS_Store

# Data files where there is too much data to send to GitHub
data/input/*

# Newer version of PhyloNetworks that is only available to us locally
PhyloNetworks.jl-master/*

# Condor logs & large files
condor/logs/*
condor/.bash_history
condor/transfer-files/*
condor/julia-projects/snaq1/snaq1-proj/
condor/julia-projects/snaq1/snaq1-proj.tar.gz
condor/julia-projects/snaq2/snaq2-proj/
condor/julia-projects/snaq2/snaq2-proj.tar.gz